
<h1>Dettaglio smart box</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="js_smartbox_container">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h2>Contattami</h2>
            <form onsubmit="InviaMessaggio(event)">
                <div class="mb-3">
                    <label for="details-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="details-email">
                </div>
                <div class="mb-3">
                    <label for="details-title" class="form-label">Titolo</label>
                    <input type="text" class="form-control" id="details-title">
                </div>
                <div class="mb-3">
                    <label for="details-text" class="form-label">Testo</label>
                    <textarea class="form-control" id="details-text" rows="10"></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Invia" />
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    debugger;
    let id = window.location.pathname.split('/')[3];
    axios.get(`/api/SmartBoxes/GetSmartBox/${id}`).then(res => {
        const sb = res.data;
        document.querySelector('.js_smartbox_container').innerHTML +=
            `
            <div class="col-4 py-2" >
            @*<a href="@Url.Action("Details", "Home", new {Id = actor.id})" class="btn btn-danger my-3">Details*@
                <img src="${sb.image}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">${sb.title}</h5>
                        <p class="card-text">${sb.description}</p>
                        <p class="card-text">Prezzo: ${sb.price}</p>
                        <p class="card-text">Paese: ${sb.country}</p>
                        <p class="card-text">Città: ${sb.city}</p>
                    </div>
                <div class="d-flex justify-content-center align-items-center gap-4">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary my-3">Home</a>
                </div>
            </div>
            `;
    }).catch(err => {
        console.log(err);
    })
    function InviaMessaggio(e) {
        e.preventDefault();
        axios.post(`/api/message/send/${id}`, {
          
            email: document.querySelector('#details-email').value,
            title: document.querySelector('#details-title').value,
            text: document.querySelector('#details-text').value,
        }).then(res => {
            document.querySelector('#details-email').value = '';
            document.querySelector('#details-title').value = '';
            document.querySelector('#details-text').value = '';
            alert('Messaggio inviato correttamente');
        }).catch(err => {
            console.log(err);
            alert('Scusa Paolo :(');
        })
    }

</script>