@{
    ViewData["Title"] = "Home Page";
}

<h1>Le Nostre Smart Box</h1>

<body onload="cerca()">
    <div class="container">
        <input class="js-search" style="margin-left: 450px;" type="text" placeholder="Cerca"/>
        <div class="row">

        </div>
    </div>
    <div class="row js_no_post text-center d-none">
        <div class="col-12">
            <h3>Non hai inserito nessuan smart box</h3>
        </div>
    </div>
    <div class="row">
        @*qui verranno mostrati gli elementi*@
    </div>
</body>


<script type="text/javascript">
        const SmartBox = document.querySelector(".row");
        const Search = document.querySelector(".js-search")
        let list;
        Search.addEventListener("keyup", cerca)
        function cerca() {
            let name = this.value;
            risultati(name);
        }
        function risultati(name) {
            axios.get("/api/SmartBoxes/GetSmartBoxes", {
                params: {
                    name: name
                }
            })
                .then(function (response) {
                    console.log(response);
                    list = response.data;
                    if (list.length > 0) {
                        SmartBox.innerHTML = ""
                        list.forEach(sb => {
                            SmartBox.innerHTML +=
                                ` <div class="col-12 col-md-4 p-2">
                                    <div class="card post h-100">
                                       <a href="/Home/Details/${sb.id}">
                                        <img src="${sb.image}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">${sb.title}</h5>
                                            <p class="card-text">${sb.description}</p>
                                            <p class="card-text">Prezzo: ${sb.price}</p>
                                            <p class="card-text">Durata: ${sb.DurataInNotti}</p>
                                            <p class="card-text">Paese: ${sb.country}</p>
                                            <p class="card-text">Città: ${sb.city}</p>
                                        </div>
                                      </a>
                                    </div>
                                </div>`
                        } )
                    } else {
                        Actor.innerHTML = "<h1>non ci sono Box</h1>"
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
         
</script>
